<ion-header>
    <ion-navbar>
      <button ion-button menuToggle color="primary">
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        <div ion-text class="icon-title"></div>
        <strong>Veículos da Empresa</strong>
      </ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content>
      <ion-grid class="border-bottom detail-bg">
          <ion-row>
            <ion-col text-center>
                <h3 ion-text color="primary" *ngFor="let empresa of empresas">{{empresa.Nome_Fantasia}}</h3>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

      <ion-list no-lines>
          <ion-grid>
            <ion-row *ngFor="let veiculo of veiculos">
              <ion-col col-10>
                <ion-item>{{veiculo.Numero}} - {{veiculo.Placa}}</ion-item>
              </ion-col>
              <ion-col col-2>
                <button ion-button icon-only (click)="presentPopover($event, veiculo.Codigo)">
                  <ion-icon name="more"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-list>
    <ion-fab top right edge>
      <button ion-fab (click)="cadastroveiculo()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
  
  </ion-content>
  